{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Change Password {% endblock %}

{% block page_content %}
<div class="container">
	<div class="page-header">
		<h1>Change password</h1>
	</div>
	{{ wtf.quick_form(form) }}
</div>
{% endblock %}