{% extends "base.html" %}
{% block title %}Confirm your account{% endblock %}

{% block page_content %}
<div class="container">
	<div class="page-header">
	<h1>Hello , {{current_user.username}}!</h1>
	<h2>You have not confirmed your account yet.</h2>
	<p>Before you can access this site you need to confirm your account.
		Check your inbox , you should have received an email with a confirmation link.</p>

	<p>Need another confirmation email?<a href="{{url_for('auth.reconfirm')}}">Click here</a></p>
	</div>
</div>
{% endblock %}