<ul class="comments">
	{% for comment in comments%}
	<li class="comment">
		<div class="comment-thumbnail">
			<a href="{{ url_for('main.user' , name=comment.author.username) }}">
				<img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40)}}">
			</a>
		</div>
		<div class="comment-content">
			<div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
			<div class="comment-author">{{comment.author.username}}</div>
			<div class="comment-body">
			{% if comment.disabled %}
			<p><i>This comment has been disabled by a moderator.</i></p>
			{% endif %}
			{% if moderate or not comment.disabled %}
				{% if comment.body_html %}
					{{ comment.body_html | safe}}
				{% else %}
					{{ comment.body }}
				{% endif %}
			{% endif %}
			</div>
		</div>
		{% if moderate %}
			<br>
			{% if comment.disabled %}
			<a class="btn btn-default btn-xs" href="{{ url_for('main.moderate_enable' , id=comment.id , page=page)}}">Enable</a>
			{% else %}
			<a class="btn btn-danger btn-xs" href="{{ url_for('main.moderate_disable',id=comment.id,page=page)}}">Disable</a>
			{% endif %}
		{% endif %}
	</li>
	{% endfor %}
</ul>