<ul class="posts">
{% for post in posts %}
	<li class="post">
		<div class="profile-thumbnail">
			<a href="{{ url_for('main.user' , name=post.author.username) }}">
				<img class="img-rounded profile-thumbnail" src="{{post.author.gravatar(size=40) }}">
			</a>
		</div>
		<div class="post-content">
			<div class="post-data">{{ moment(post.timestamp).fromNow()}}</div>
			<div class="post-author">
				<a href="{{ url_for('main.user' , name=post.author.username)}}">
							{{post.author.username}}
				</a>
			</div>
			<div class="post-body">
			{% if post.body_html %}
				{{ post.body_html | safe }}
			{% else %}
				{{ post.body }}
			{% endif %}
			</div>
			<div class="post-footer">
				{% if current_user == post.author%}
				<a href="{{ url_for('main.editpost' , id = post.id) }}">
					<span class="label label-primary">Edit</span>
				</a>
				{% elif current_user.is_administrator() %}
				<a href="{{ url_for('main.editpost' , id = post.id) }}">
					<span class="label label-danger">Edit[Admin]</span>
				</a>
				{% endif %}
				<a href="{{ url_for('main.post' , id = post.id) }}">
					<span class="label label-default">Permalink</span>
				</a>
				<a href="{{ url_for('main.post' , id=post.id) }}#comments">
					<span class="label label-primary">
						{{ post.comments.count() }} Comments
					</span>
				</a>
			</div>
		</div>
	</li>
{% endfor %}
</ul>