{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="icon" type="image/x-icon" href="{{url_for('static' , filename = 'fav.ico')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='style.css') }}">
{% endblock %}
{% block title %}Flasky-dev{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
<!-- 		<button type="button" class="navbar-toggle" data-toggle="collapse" 
		data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button> -->
		<a class="navbar-brand" href="/">Flasky-dev</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<!-- <li><a href="/role">roles</a></li> -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_authenticated %}
				<img class="img-rounded profile-thumbnail" src="{{ current_user.gravatar(size=32)}}">
				<li><a href="{{ url_for('main.user',name = current_user.username )}}">Profile</a></li>
				<li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
				{% else %}
				<li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
				{% endif %}
				{% if current_user.can(Permission.MODERATE_COMMENTS) %}
				<li><a href="{{url_for('main.moderate')}}">Moderate Comments</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">close</button>
		{{ message }}
	</div>
	{% endfor %}
	{% block page_content %}
	{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}