{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Edit Profile {% endblock %}

{% block page_content %}
<div class="container">
	<div class="page-header">
		<h1>Edit Profile</h1>
	</div>
	{{ wtf.quick_form(form) }}
</div>
{% endblock %}