{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Flasky-dev Edit Post {% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Edit Post</h1>
</div>
<div>
	{{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}