{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros%}

{% block title %} Flasky-dev Post {% endblock %}

{% block page_content %}
{% include '_posts.html' %}
<h4 id="comments">Comments</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form">
	{{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
	{{ macros.pagination_widget(pagination , 'main.post' , fragment='#comments' , id = posts[0].id) }}	
</div>

{% endif %}
{% endblock %}