{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wft %}
{% block title %}Roles!{% endblock %}

{% block page_content %}
<div class="container">
	<div class="page-header">
		<h1>Welcome to flasky web server!</h1>
	</div>
	{% if form %}
	{{ wft.quick_form(form) }}
	{% endif %}
	<div>
		<ul>
		{% for user in users%}
		<li>{{user}}</li>
		{% endfor %}
		</ul>
	</div>
	
</div>

{% endblock %}
