{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}User Page{% endblock %}

{% block page_content %}
<div class="container">
	<div class="page-header">
		<img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256)}}">
		<h1>hello , {{user.username}}!</h1>
		
		{% if user.location %}
		<p>From <a href="http://maps.google.com/?q={{ user.location }}">{{user.location}}</a></p>
		{% endif %}

		{% if user.info %}
			<p> {{user.info}} </p>
		{% endif %}
		<p> Member since {{ moment(user.member_since).format('L') }}.
		Last seen {{ moment(user.last_seen).fromNow(refresh=True) }}.</p>

		{% if user.posts %}
		<p> {{user.posts.count()}} blog posts</p>
		{% endif %}

		{% if current_user.can(Permission.FOLLOW) and current_user != user%}
			{% if not current_user.is_following(user) %}
				<a href="{{ url_for('main.follow' , name = user.username)}}" 
					class="btn btn-primary">Follow</a>
			{% else %}
				<a href="{{ url_for('main.unfollow' , name = user.username)}}"
					class="btn btn-default">Unfollow</a>
			{% endif %}
		{% endif %}
		<a href="{{ url_for('main.followers' , name=user.username) }}">
			Followers : <span class="badge">{{ user.followers.count() }}</span>
		</a>
		<a href="{{ url_for('main.followed' , name=user.username) }}">
			Following : <span class="badge">{{ user.followed.count() }}</span>
		</a>

		{% if current_user.is_authenticated and user != current_user and user.is_following(current_user)%}
		| <span class="label label-default">Follows you</span>
		{% endif %}
	</div>	
	{% if current_user.is_administrator() %}
	<p>EmailTo:<a href="mailto:{{ user.email }}">{{user.email}}</a></p>
	{% endif %}

	<ul>
		{% if user == current_user%}
		<li><a class = "btn btn-default" href="{{ url_for('main.edit_profile')}}">Edit Profile</a></li><li><a class = "btn btn-default" href="{{ url_for('auth.change_password')}}">Change Password</a></li>
		{% endif %}
		{% if current_user.is_administrator() %}
		<li><a class = "btn btn-danger" href="{{ url_for('main.edit_profile_admin' , id = user.id ) }}">Edit Profile [Admin]</a></li>
		{% endif %}
	</ul>

	<h3>Posts by {{user.username}}</h3>
	{% include '_posts.html' %}
	<div class="pagination">
		{{ macros.pagination_widget(pagination , 'main.user' , name=user.username)}}
	</div>
</div>
{% endblock %}