{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Welcome!{% endblock %}

{% block page_content %}

	<div class="page-header">
		<h1>Welcome to flasky web server!</h1>
	</div>
	{% if current_user.is_authenticated %}
		<h3>Hello ! {{current_user.username}}</h3>
<!-- 		{% if users %}
		<div>
				<ul>
					{% for user in users %}
					<li><a href="{{ url_for('main.edit_profile_admin' , id = user.id) }}">{{user.username}}({{user.email}})</a></li>
					{% endfor %}
				</ul>
		</div>
		{% endif %} -->
		<div>
				{% if current_user.can(Permission.WRITE_ARTICLES) %}
				{{ wtf.quick_form(post_form)}}
				{% endif %}
		</div>
		<div class="post-tabs">
			<ul class="nav nav-tabs">
				<li{% if not show_followed %} class="active" {% endif %}><a href="{{url_for('main.show_all')}}">All</a></li>
				{% if current_user.is_authenticated %}
				<li{% if show_followed %} class="active" {% endif %}><a href="{{ url_for('main.show_followed')}}"></a>Followers</li>	
				{% endif %}
			</ul>
			{% include '_posts.html' %}
		</div>

		<div class="pagination">
			{{ macros.pagination_widget(pagination , 'main.welcome')}}
		</div>
	{% else %}
		<ul>
			<li><a href="{{ url_for('auth.register') }}">Register</a></li>
			<li><a href="{{ url_for('auth.login') }}">Login</a></li>
		</ul>
	{% endif %}
	<p>Your browser is {{user_agent}}</p>
	<p>{{moment(current_time).format('LLLL')}}.</p><br>
	<p>That was {{moment(current_time).fromNow(refresh=True)}}</p>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
