<head>
	<title>
		爬虫  python
	</title>

	<b>this text is bold</b>
	<br>
	<i>this text is italic</i>

	<ul>
		<li>First</li>
		<li>第二个</li>
	</ul>
	<ol>
		<li>ordered list</li>
		<li>第二个</li>
	</ol>
	<dl>
		<dt>First term</dt>
		<dd>Definition</dd>
		<dt>Next term</dt>
		<dd>Definition</dd>
	</dl>
	<table border="1">
	<tr>
	  <th>someheader</th>
	  <th>someheader</th>
	</tr>
	<tr>
	  <td>sometext</td>
	  <td>sometext</td>
	</tr>
	</table>

	<!-- This is a comment -->
	<blockquote>
	Text quoted from some source.
	</blockquote>
	<address>
	Address 1<br>
	Address 2<br>
	City<br>
	</address>

	<div style="color:#00FF00">
		<h1>this is a div h1</h1>
		<p>paragraph</p>
	</div>
</head>