<p>Dear {{ user.username}} </p>
<p>Welcome to <b>FDB</b>!</p>
<p>To confirm your account please <a href="{{url_for('auth.confirm',token=token,_external=True)}}">click here</a>.</p>
<p>Or you can paste the following link in your browser`s address bar:</p>
<p>{{url_for('auth.confirm',token=token,_external=True)}}</p>
<p>Sincerely,</p>
<p>The FlasyDevBlog Team</p>
<p><small>Note:replies to this mail address is not monitored.</small></p>